* {
  box-sizing: border-box;
}

/*TOP SECTION STYLING*/

body {
 font-family: 'Open Sans', sans-serif;
 }

.input-section {
  background-color: #E5F3F2;
  height: 40vh;
}

h1 {
  color: #00A79D;
  font-family: 'Roboto Slab', serif;
  font-size: 3.1rem;
  padding: 26px;
  text-align: center;
}

span {
  color: #6D6E71;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

input {
  border: 2px solid #D1D3D4;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 6px;
  padding: 5px;
  width: 55%;
}

::placeholder {
  color: #D1D3D4;
}

.save-button {
  background-color: #00A79D;
  border: 0;
  color: white;
  font-family: inherit;
  font-size: 1.3rem;
  margin: 5px 0;
  padding: 7px;
  width: 55%;
}

.save-button:hover {
  background-color: #045E55;
}

/*BOTTOM SECTION STYLING*/
.idea-card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}
.search-field {
  margin: 22px 0;
}

article {
  width: 55%;
  margin-top: 5px;
}

h3 {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 1.4rem;
}

.quality-text {
  color: #6D6E71;
  font-size: .8rem;
}

p {
  color: #939598;
  font-size: 1rem;
}

hr {
  border-color: #D1D3D4;
}
